<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>arch.granite.reducer</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>GraniteReducer</string>
	<key>Description</key>
	<string>A Granite reducer.</string>
	<key>Summary</key>
	<string>A Granite reducer.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>SortOrder</key>
	<integer>3</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the reducer.</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Reducer name:</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The GraniteCenter this reducer mutates (its Center typealias).</string>
			<key>Identifier</key>
			<string>centerName</string>
			<key>Name</key>
			<string>Center type:</string>
			<key>Required</key>
			<string>YES</string>
			<key>Default</key>
			<string>Center</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
